
<div th:fragment="footer"
     xmlns:th="http://www.thymeleaf.org">
    <div class="admin-footer">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-2">
        <!-- Section Logo -->
        <div class="col mb-3">
          <a href="#" class="d-flex align-items-center mb-3" aria-label="Bootstrap">
              <img class="img-fluid rounded w-100" th:src="@{/images/logo_stripped.png}" alt="Vistaseat.com Logo">
          </a>
          <p class="insignia">Vistaseat.com</p>
        </div>

        <!-- Section Blank -->
        <div class="col mb-3">

        </div>

        <!-- Section 1 - Manage -->
        <div class="col mb-3">
              <h5>Manage</h5>
              <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                      <a href="/adminDashboard/manageUsers" class="nav-link p-0">
                          Users
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a href="/adminDashboard/manageVenues" class="nav-link p-0">
                          Venues
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a href="/adminDashboard/manageEvents" class="nav-link p-0">
                          Events
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a href="/adminDashboard/manageBookings" class="nav-link p-0">
                          Bookings
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a href="/adminDashboard/manageTestimonials" class="nav-link p-0">
                          Testimonials
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a href="/adminDashboard/manageContactMessages" class="nav-link p-0">
                          Contact Messages
                      </a>
                  </li>
              </ul>
        </div>
        <!-- Section 2 - Events -->
        <div class="col mb-3">
          <h5>Events</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageEvents?eventType=THEATER'}" class="nav-link p-0">
                Theater
              </a>
            </li>
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageEvents?eventType=CINEMA'}" class="nav-link p-0">
                Cinema
              </a>
            </li>
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageEvents?eventType=CONCERT'}" class="nav-link p-0">
                Music Concerts
              </a>
            </li>
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageEvents?eventType=SPORTS'}" class="nav-link p-0">
                Sports
              </a>
            </li>
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageEvents?eventType=MUSEUM'}" class="nav-link p-0">
                Museum Visits
              </a>
            </li>
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageEvents?eventType=ARCHAEOLOGICAL'}" class="nav-link p-0">
                Archaeological Site Visits
              </a>
            </li>
          </ul>
        </div>

        <!-- Section 3 -->
        <div class="col mb-3">
          <h5>Advanced Settings</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a th:href="@{'/adminDashboard/manageUsers?role=DOMAIN_ADMIN'}" class="nav-link p-0">
                Manage Admins
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="/adminSignUp" class="nav-link p-0">
                Create a new Admin Account
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="/adminDashboard/adminGuide" class="nav-link p-0">
                Admin Guide
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="/adminLogout" class="nav-link p-0">
                Back to site (Log out)
              </a>
            </li>
          </ul>
        </div>
      </footer>
      <p>© 2025 Georgios Simos — University of Pireaus, Department of Informatics. All rights reserved.</p>
    </div>
</div>