
<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org">
    <div class="header-style">
        <header class="d-flex flex-wrap border-bottom">
            <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="logo" th:src="@{/images/logo.png}" alt="Vistaseat Logo">
                <span class="fs-4">Vistaseat.com</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/home" class="nav-link" aria-current="page">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/events/theater" class="nav-link">
                        Theater
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/events/cinema" class="nav-link">
                        Cinema
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/events/concert" class="nav-link">
                        Music Concerts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/events/sports" class="nav-link">
                        Sports
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/events/museum" class="nav-link">
                        Museums
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/events/archaeological" class="nav-link">
                        Archaeological Sites
                    </a>
                </li>
            </ul>
            <button class="btn btn-primary rounded-pill px-3" type="button">
                Connect
            </button>
        </header>
    </div>
</div>
